/*
 * ProductsListItem
 */

@import "../../../assets/styles/utilities/index";

.ProductsListItem {
  width: 268px;
  margin: 25px 10px;

  &-card {
    height: 300px;
    padding: 50px;
    background-color: #fff;
    border-radius: 12px;
    margin-bottom: 10px;
    position: relative;
  }

  &-footer {
    position: relative;
    height: 106px;
  }

  &-image {
    display: block;
    margin: 0 auto;
  }

  &-name {
    display: block;
    height: 40px;
    font-size: 14px;
    line-height: 1.45;
    color: #071A33;
    margin-bottom: 4px;
  }

  &-discount {
    display: block;
    font-size: 12px;
    line-height: 1.45;
    color: #8693A2;
    text-decoration: line-through;
    height: 17px;
  }

  &-price {
    display: block;
    font-size: 20px;
    line-height: 1.45;
    color: #071A33;
    height: 28px;
  }

  &-bonus {
    font-size: 12px;
    line-height: 1.45;
    color: $highlight-color;
  }

  &-action {
    @include bgIcon('icon-bag-circle');
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;
    cursor: pointer;
  }

  &-badges {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
  }

  &-badge {
    display: block;
    text-align: center;
    width: 32px;
    height: 32px;
    margin-bottom: 10px;

    &.popular {
      @include bgIcon('icon-popular');
    }

    &.discount {
      @include bgIcon('icon-discount');
    }

    &.app {
      @include bgIcon('icon-app');
    }

    &.gift {
      @include bgIcon('icon-gift');
    }
  }

  &-collection {
    @include bgIcon('icon-collection');
    width: 73px;
    height: 74px;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  &-controls {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 12px;
    left: 12px;
  }

  &-control {
    display: inline-flex;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;

    &-icon {
      &.favourites {
        @include bgIcon('icon-like');
        width: 18px;
        height: 16px;
      }

      &.compare {
        @include bgIcon('icon-compare');
        width: 23px;
        height: 20px;
      }
    }

    &-text {
      font-size: 16px;
      line-height: 1.45;
      text-align: center;
      color: transparent;
      width: 0;
    }

    &:hover,
    &:focus,
    &:active {
      background-color: $highlight-color;

      .ProductsListItem-control-icon {
        &.favourites {
          @include bgIcon('icon-like-active');
        }

        &.compare {
          @include bgIcon('icon-compare-active');
        }
      }

      .ProductsListItem-control-text {
        width: auto;
        color: #fff;
        margin-left: 8px;
      }
    }
  }
}
