/**
 * Base.
 */

@viewport {
	width: device-width;
}

html {
	box-sizing: border-box;
	height: 100%;
}

* {
	&, &:before, &:after {
		box-sizing: inherit;
	}
}

body {
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

.page {
	@include container;
	padding-top: 30px;
	padding-bottom: 65px;
}
