/*
 * Scrollbar
 */

// Webkit scrollbar
::-webkit-scrollbar {
  width:12px;
  background-color: #cccccc;

  &:horizontal{
    height:12px;
  }

   &-track{
     border:1px $border-color solid;
     border-radius:10px;
     -webkit-box-shadow:0 0 6px #c8c8c8 inset;
   }

  &-thumb {
    background-color: darken($border-color, 30);
    border:1px solid darken($border-color, 30);
    border-radius:16px;

    &:hover,
    &:active {
      background-color: darken($border-color, 35);
      border:1px solid darken($border-color, 35);
    }
  }
}
