/*
 * MenuListItem
 */

@import "../../../assets/styles/utilities/index";

.Menu-list {
  &-item {
    font-size: 22px;
    line-height: 1.45;

    &:not(:last-child) {
      margin-bottom: 15px;
    }

    @include media(min, $tablet-min) {
      font-size: 26px;
    }

    &-with-subcategories {

    }
  }

  &-link {
    font: inherit;
    color: inherit;
    cursor: pointer;

    &:focus,
    &:hover {
      color: $active-color;
    }
  }
}

.Category {
  &-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0 0 0;
  }

  &-list-item {
    width: 100%;
    flex: 0 0 100%;
    background-color: #fff;
    border-radius: 4px;
    padding: 40px;
    margin-bottom: 15px;
    position: relative;

    @include media(min, $tablet-min) {
      width: calc(50% - 15px);
      flex: 0 0 calc(50% - 15px);
      margin-bottom: 30px;
    }

    @include media(min, $desktop-min) {
      width: calc(25% - 22.5px);
      flex: 0 0 calc(25% - 22.5px);
    }
  }

  &-label {
    display: block;
    height: 60px;
    font-size: 24px;
    line-height: 1.23;
    text-align: center;
    margin-bottom: 30px;
  }

  &-image {
    display: block;
    margin: 0 auto;
  }

  &-link {
    @include bgIcon('icon-chevron');
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}
