/*
 * MenuContent
 */

@import "../../../assets/styles/utilities/index";

.Menu-content {
  height: calc(100vh - 60px);
  overflow: auto;
  border-top: 1px solid $border-color;

  @include media(min, $tablet-min) {
    height: calc(100vh - 80px);
  }

  @include media(min, $desktop-min) {
    border-top: none;
  }

  &-container {
    @include container;
    padding-top: 30px;
    padding-bottom: 65px;
  }
}
