/**
 * Settings.
 */

// Font
$main-font: 'PT Sans', sans-serf;

// Color palette
$main-text-color: #071A33;
$secondary-text-color: #8693A2;
$main-background-color: #F7F7F7;
$active-color: #59AEE4;
$border-color: #E8E8E9;

// Container
$min-container-width: 375px;
$max-container-width: 1165px;

// Grid
$gutter: 15px;

// Breakpoints
$tablet-min: 768px;
$tablet-max: $tablet-min - 1px;
$desktop-max: $max-container-width;
$desktop-min: $max-container-width - 1px;
